/* .container{
  background-color: lightblue;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.style{
  color: royalblue;
  margin:0
  
}
.ongo{
  color: dodgerblue;
}
input{
  border-radius: 8px;
  padding:8px;
  margin-right: 5px;
}
button{
  padding: 8px;
  border-radius: 8px;
  width: 70px;
  color: white;
  background-color: royalblue;
} */